[submodule ".registry"]
	path = .registry
	url = https://github.com/calbertsen/universe
	shallow = true
	branch = HEAD
[submodule "argosTrack"]
	path = argosTrack
	url = https://github.com/calbertsen/argosTrack
	shallow = true
	subdir = argosTrack
	registered = true
[submodule "otoclass"]
	path = otoclass
	url = https://github.com/calbertsen/otoclass
	shallow = true
	branch = feature/multi_group
	subdir = otoclass
	registered = true
